*{
    padding: 0;
    margin: 0;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* CARD */
.card{
    display: flex;
    width: 90vh;
}

/* PANELES */
.panel{
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin: 0rem .5rem 0rem .5rem;
    border-radius: .5rem;
    flex: 0.5;
}
.panel_a{
    background-size: cover;
    background-position: center;
    border-radius: .5rem;
    margin: 0rem .5rem 0rem .5rem;
    transition: all 700ms ease-in;
    flex: 5;
}

/* H3 */
.panel h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 24px;
    opacity: 0;
}
.panel_a h3{
    font-family: "Playwrite US Modern", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: 24px;
    text-align: left;
    position: relative;
    inset: 92% 0 0 5%;
}